[Service]
WorkingDirectory=/home/pi/Huskie-RPi-Vision-Public/setup/
ExecStart=sh /home/pi/Huskie-RPi-Vision-Public/setup/launcher.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=VisionResults
User=root
Group=root
[Install]
WantedBy=multi-user.target
