[Service]
WorkingDirectory=/home/pi/RPi-Vision/Vision/
ExecStart=/home/pi/RPi-Vision/Vision/launcher.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=VisionResults1
User=root
Group=root
[Install]
WantedBy=multi-user.target
