[Service]
WorkingDirectory=/home/pi/Huskie-Vision/setup/
ExecStart=/usr/bin/python/ /home/pi/Huskie-Vision/vision-processing/Vision_Main.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=VisionResults
User=root
Group=root
[Install]
WantedBy=multi-user.target
